<section class="procuct">
    <img src="<%= product.image %> " alt="<%= product.name %> ">
    <div class="product-description">
        <p>
        <h1>
            <%= product.name %>
        </h1>
        <%= product.description %>
            </p>
    </div>
    <div class="product-actions">
        <h4>super desconto</h4>
        <p id="before">R$ <%= product.price %> <strong>12%</strong></p>
        <p id="after">R$ <%= product.price %>
        </p>
        <p>Em 1x no cartão</p>
        <h4>Calcular frete</h4>
        <form action="">
            <input type="text" name="cep" id="cep">
            <input id="ok" type="submit" value="ok">
        </form>
        <form action="">
            <input id="buy" type="submit" value="comprar">
        </form>
    </div>
</section>

<section class="show-down">
    <!-- <div class="sd-cards">
        <div class="sd-card">
            <img src="img/products/produto-1.png" alt="">
            <div class="sd-card-content">
                <h2>Preço</h2>
                <p>Fique avonatde para usar</p>
            </div>
        </div>
    </div> -->

    <div class="cards">
        <% for( let i=0; i < products.length; i++ ) { %>
            <div class="card">
                <a href="/product/details/<%= products[i].id %> "> <img src="<%= products[i].image %> "
                        alt="<%= products[i].name %> "></a>
                <div class="card-content">
                    <h2>R$ <%= products[i].price %>
                    </h2>
                    <p>
                        <%= products[i].description %>
                    </p>
                </div>
            </div>
            <% } %>
</section>